
body {
  font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.cta-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3.2rem;
  color: #fff;
  line-height: 1.5;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
    background-color: #fff;
}

.container-fluid {
  padding: 3% 15% 4%;     /* 3% padding on top and 15% padding on right and left and 7% padding on bottom*/
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;      /* 0px padding in top and bottom and 18px padding in left and right */
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Section features */

#features {
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.3rem;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}


/* Testimonial Section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;       /* 7% top and bottom and 15% right and left*/
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;    /* 20px from top, 20px from left & right and 50px from bottom*/
}


/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;    /* 3% from top & bottom and 2% from left & right */
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.dog-type {
  font-size: 1.3rem;
}


/* media query in css (for responsiveness of title page) */

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    width: 60%;
    transform: rotate(0);
  }

}


/* call to action section */

#cta {
  text-align: center;
  padding: 7% 15%;
}

/* Footer section */

#footer {
  text-align: center;
  padding: 7% 15%;
}

.footer-item {
  margin: 20px 10px;
}
